.ui-button {
  min-width: 80px;
  padding: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #F1F5F9;
  background-color: #242F3D;
  cursor: pointer;
  border-radius: 12px;
  border-bottom: 4px solid #0F172A;

  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color, transform, color;

  &:hover {
    background-color: #1e293b;
    border-color: #0f172a;
  }

  &:active {
    background-color: #1e293b;
    border-color: #0f172a;
    transform: scale(0.95);
  }

  &:disabled {
    cursor: default;
    color: #475569;
    background-color: #29323D;
    border-color: #212838;
  }
}
