.lesson-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    align-self: stretch;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__back-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
  }

  &__subject-name {
    font-size: 24px;
  }

  &__task-name {
    margin-top: 60px;
    font-size: 32px;
  }

  &__task-result {
    margin-top: 44px;
    min-height: 107px;
    align-self: stretch;
    padding: 16px 20px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
  }

  &__delete-button {
    margin-top: 40px;
  }

  &__options {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
  }
}