.lesson-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #242F3D;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }

  &__task-name {
    margin-top: 60px;
    font-size: 32px;
    text-align: center;
  }

  &__task-result {
    margin-top: 44px;
    min-height: 107px;
    align-self: stretch;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
  }

  &__delete-button {
    margin-top: 40px;
  }

  &__options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 24px;
    border: 1px solid #1E293B;
    background-color: #0E1621;
  }
}