.lesson-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    align-self: stretch;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #242424;
  }

  &__back-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
  }

  &__task-name {
    font-size: 3rem;
    margin-top: 60px;
  }

  &__task-result {
    min-height: 192px;
    margin-top: 60px;
    align-self: stretch;
    padding: 40px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 14px 14px;
  }

  &__delete-button {
    margin-top: 40px;
  }

  &__options {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}